In [4]:
from recordlinkage.datasets import load_krebsregister

krebs_X, krebs_true_links = load_krebsregister(missing_values=0)
krebs_X

,,cmp_firstname1,cmp_firstname2,cmp_lastname1,cmp_lastname2,cmp_sex,cmp_birthday,cmp_birthmonth,cmp_birthyear,cmp_zipcode
id1,id2,,,,,,,,,
22161,38467,1.000000,0.0,0.142857,0.0,1,0.0,1.0,0.0,0.0
38713,75352,0.000000,0.0,0.571429,0.0,1,0.0,0.0,0.0,0.0
13699,32825,0.166667,0.0,0.000000,0.0,0,1.0,1.0,1.0,0.0
22709,37682,0.285714,0.0,1.000000,0.0,1,0.0,0.0,0.0,0.0
2342,69060,0.250000,0.0,0.125000,0.0,1,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
52124,53629,1.000000,0.0,0.285714,0.0,1,0.0,0.0,1.0,0.0
30007,76846,0.750000,0.0,0.000000,0.0,1,1.0,0.0,0.0,0.0
50546,59461,0.750000,0.0,0.000000,0.0,1,0.0,1.0,0.0,0.0
43175,62151,1.000000,0.0,0.111111,0.0,1,0.0,1.0,0.0,0.0
11651,57925,1.000000,0.0,0.000000,0.0,1,0.0,0.0,1.0,0.0

In [5]:
krebs_X.describe().T

,count,mean,std,min,25%,50%,75%,max
cmp_firstname1,5749132.0,0.712778,0.388839,0.0,0.285714,1.000000,1.000000,1.0
cmp_firstname2,5749132.0,0.016234,0.125199,0.0,0.000000,0.000000,0.000000,1.0
cmp_lastname1,5749132.0,0.315628,0.334234,0.0,0.100000,0.181818,0.428571,1.0
cmp_lastname2,5749132.0,0.000136,0.010081,0.0,0.000000,0.000000,0.000000,1.0
cmp_sex,5749132.0,0.955001,0.207301,0.0,1.000000,1.000000,1.000000,1.0
cmp_birthday,5749132.0,0.224434,0.417209,0.0,0.000000,0.000000,0.000000,1.0
cmp_birthmonth,5749132.0,0.488788,0.499874,0.0,0.000000,0.000000,1.000000,1.0
cmp_birthyear,5749132.0,0.222718,0.416070,0.0,0.000000,0.000000,0.000000,1.0
cmp_zipcode,5749132.0,0.005516,0.074067,0.0,0.000000,0.000000,0.000000,1.0

In [7]:
krebs_true_links

MultiIndex([(89874, 89876),
            (79126, 84983),
            (40350, 83715),
            (75394, 92002),
            (23323, 27823),
            (31059, 72216),
            (28464, 69899),
            (33613, 64971),
            (23546, 27978),
            (29922, 46075),
            ...
            (62697, 62705),
            (82751, 82753),
            (45892, 59324),
            (33619, 40411),
            (28562, 43893),
            (26162, 27408),
            (71973, 71976),
            (23925, 29112),
            (57711, 99655),
            (18795, 41061)],
           names=['id1', 'id2'], length=20931)

In [6]:
golden_pairs = krebs_X[0:5000]
golden_matches_index = golden_pairs.index & krebs_true_links # 2093 matching pairs